@using System.Globalization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar ">
        <NavMenu />
    </div>



    <main>
    

        <article class="content px-4">
            @Body
        </article>
        <footer>
            <h5 class="text-center text-white pt-5">Hand coding from A coruña with love <i class="fa-solid fa-heart"></i> @DateTime.Now.Year</h5>

        </footer>
    </main>
</div>







<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

}