@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="">
    

    <div class="m-5">
        <div class="cubo ">
            <div class="lado"><h3 class="text-center mt-3">BOX</h3></div>
            <div class="lado"></div>
            <div class="lado"></div>
            <div class="lado"> <h3 class="text-center mt-3">ALL</h3> </div>
            <div class="lado"><h3 class="text-center mt-3">THE</h3></div>
            <div class="lado"><h3 class="text-center mt-3">OVER</h3></div>  
        </div>
    </div>
    
    <div class=" p-5 ">
        <article >
            <h1 class="display-4 text-center pb-4 ">THE BOX</h1>
            <p >
                La frase "pensar fuera de la caja" (en inglés, "think outside the box") se utiliza para describir un enfoque creativo y no convencional para resolver problemas. 
                Su origen se remonta a la década de los 70 y está asociado con ejercicios de pensamiento lateral, que fueron popularizados por el psicólogo Edward de Bono.
            </p>
            
            <p>
                Una de las explicaciones más comunes sobre su origen proviene de un famoso rompecabezas visual conocido como el "puzzle de los nueve puntos".
                En este ejercicio, se presentan nueve puntos dispuestos en forma de cuadrado y se desafía a las personas a conectar todos los puntos utilizando solo cuatro líneas rectas 
                sin levantar el lápiz del papel. La solución requiere que los participantes "salgan" del cuadrado imaginario formado por los puntos, lo que simboliza la necesidad de pensar
                más allá de los límites establecidos. Con el tiempo, la frase ha evolucionado y se ha convertido en un lema en entornos empresariales y creativos, donde se alienta a 
                las personas a desafiar las normas y explorar nuevas ideas.
            </p>

            <p>
                Sin embargo, esto no deja de ser una nueva manera de abordar un problema desde un único punto de vista. Tal vez la solución necesita un enfoque conservardor y, en ese caso,
                quedarse dentro de la caja sería lo más acertado. Si solo miramos desde una perspectiva, corremos el riesgo de limitarnos a soluciones convencionales. 
                La clave para resolver esos desafíos está en observar la caja desde todos sus ángulos. Cada lado representa una perspectiva diferente, una oportunidad para entender mejor la situación.
            </p>

            <p>
                En lugar de quedarte atrapado en una sola forma de pensar, tómate un momento para girar la caja. Tal vez puedas ver soluciones que antes no habías considerado. 
                Si solo miras desde un lado, solo obtienes una parte de la historia. Pero si te mueves y observas, empiezas a ver detalles que antes pasabas por alto.
            </p>

            <p>
                Imaginemos que estamos ante un obstáculo en un proyecto.
                Al adoptar un enfoque multidimensional, comenzamos a descomponer el problema y a analizarlo desde diferentes ángulos: el punto de vista del cliente, las implicaciones financieras,
                el impacto en el equipo y las posibles alternativas tecnológicas.
                Cada uno de estos aspectos puede ofrecer información valiosa que quizás no habíamos considerado inicialmente.La solución llega cuando nos permitimos explorar diferentes posibilidades
                y cuestionar nuestras suposiciones.
            </p>

            <p>
                Recuerda, cada problema tiene múltiples facetas.  Es fácil caer en la trampa de una única perspectiva. Así que la próxima vez que te enfrentes a un desafío, no te limites a mirar la caja desde un solo lado.
                Gírala,rodeala, levántala, súbete encima, mira dentro, examina cada ángulo y descubre el potencial que hay en cada situación. En definitiva, go all over the box.
            </p>




        </article>







    </div>  


</div>
