@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>




<div class="card-holder">
    <div class="container-main">
    

        <div class="card">
            <div class="front">
                <h5 class="text-white">HELLO</h5>
            </div>
            <div class="back">
                <h5 class="text-white">FOTO</h5>

            </div>
        </div>
    </div>

</div>