@page "/"

<PageTitle>Las cajas</PageTitle>




<div class="contenedor m-5">
    <div class="cubo">
        <div class="lado"><h3 class="text-center mt-3">BOX</h3></div>
        <div class="lado"></div>
        <div class="lado"></div>
        <div class="lado"> <h3 class="text-center mt-3">ALL</h3> </div>
        <div class="lado"><h3 class="text-center mt-3">THE</h3></div>
        <div class="lado"><h3 class="text-center mt-3">OVER</h3></div>
    </div>
</div>

    



        
       

   <div class="card-holder pt-5 ">
            <div class="container-main">
            <h5>API REST</h5>
           <p>Consulta frases motivacionales cuando estés a punto de tirar la toalla....</p>

            <div class="card">
                    <div class="front">
                        
                    </div>
                    <div class="back">
                        <h5 class="text-white">EN DESARROLLO</h5>
                       
                    </div>
                </div>
            </div>

</div>

<!--div de simulación de contenido -->
<div style="height:300px"></div>





<div class="mensaje-bottom position-relative bottom-0 text-end">
    <p class="">Hand coding from A coruña with love</p>
    
</div>
  

