@page "/"

<PageTitle>Las cajas</PageTitle>




<div class="contenedor m-5">
    <div class="cubo ">
        <div class="lado"><h3 class="text-center mt-3">BOX</h3></div>
        <div class="lado"></div>
        <div class="lado"></div>
        <div class="lado"> <h3 class="text-center mt-3">ALL</h3> </div>
        <div class="lado"><h3 class="text-center mt-3">THE</h3></div>
        <div class="lado"><h3 class="text-center mt-3">OVER</h3></div>
    </div>
</div>

    

<div class="proyecto-1 text-center ">
    <h3 class="pt-3" >¿POR QUÉ ALL OVER THE BOX?</h3>
    <p class="p-3 ">Siempre me ha llamado la atención la famosa frase "think outside the box". El concepto es sencillo. Sal de la caja para tener un punto de vista diferente. Pero...¿de verdad queremos limitarnos a salir de la caja?
      Y...¿No acabaríamos teniendo el mismo problema estando sólo fuera que cuando estábamos solo dentro? En realidad hay múltiples posibilidades. Quizá la solución esté debajo. Tal vez tengamos que subirnos a ella para ver más lejos.
      Puede que haya que rodearla. Darle la vuelta. O incluso necesitábamos un enfoque más conservador y no tendríamos que haber salido en primer lugar. Y de ahí nace el nombre de este proyecto. De las ganas de buscar diferentes soluciones para 
      diferentes necesidades. Be water my friend, and go all over the box. </p>


</div>

        
       












