@page "/"

<PageTitle>Las cajas</PageTitle>


<div class="">
    <img class="bg-dark transformed " src="img/all over.png" width="250vw" />
     </div>

    

<h1>Las cajas</h1>

<!--div de simulación de contenido -->
<div style="height:300px"></div>





<div class="mensaje-bottom position-relative bottom-0 text-end">
    <p class="">Hand coded from A coruña with love</p>
    
</div>
  

